.item{
    background-color: grey;
}
body{
    background-color: #95f6f6;
    padding: 25px;
}
#content{
    display: flex;
    align-items: stretch;
    background-color: #fe4040;
    padding: 40px;
    height: 75vh;
}
.header {
    font-family: cursive;
    font-size: 50px;
    color: 	#f8ff87;
    margin-bottom: -40px;
    text-align: center;
    background-color: #fe4040;
    border-radius: 20px;
    font-weight: 700;
}
.container{
    display: flex;
    flex-direction: column;
    width: 900%;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-basis:100%;
}
.item{
    flex-basis: 100%;
    align-items: stretch;
    aspect-ratio: 1/1;
    border: 1px solid darkgrey;
}
.footer{
    margin-top: -30px;
    height: 120px;
    background-color: #fe4040;
    display: flex;
    justify-content: space-between;
}
.footer>div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:#202020;
    font-weight: 600;
    border: 3px dotted #202020;;
}
.right>button,
.left>button{
    border-radius: 50%;
    width: 100%;

}
.btn3{
    height: 50px;
    border: 5px solid #042054;
    border-radius: 5px;
    padding: 10px;
}
.rainbow{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    color: darkkhaki;
}

@media only screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }
    #content{
        display: flex;
        align-items: stretch;
        background-color: #fe4040;
        padding: 15px;
        height: 75vh;
    }
    body{
        padding:3px;}
    .header{
        font-size: 24px;
        margin-bottom: -20px;
    }
.footer{
    height: 80px;
    padding-top: 20px;
}
    button{
        font-size: 10px;
    }
    .right>button,

.footer>div{
    align-items: flex-end;
    height: 50px;
    width: 50px;

}
.left>button{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.btn3{
    height: 30px;
    border: 5px solid #042054;
    border-radius: 5px;
    padding: 5px;
}
}
